html {
    /*background-image: linear-gradient(to bottom, #9e74c6, #FFE6FB, #FFF7B9);*/
    background-color: #cfbbe2ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.white{
  font-size:100px;
 margin-top:-10px;
  color: #ffffff;
  float: left;
}
  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left:-10px;
}
img {
 width:100px;
 height: 100px;
}
/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #DDD6F3;
  margin-right:50px;
  text-align: center;
  padding: 14px 16px;
  font-family:Sans-serif;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
button {
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-family:"Arial";
    height:10px;
    width:10px;
    padding:10px;
    margin-left:10px;
    margin-top:50px;
    background-color: transparent;
}

.journal_container {
 position: relative;
  text-align:center;
  background-color: white;
  margin-left:400px;
  height: 600px;
  margin-right:400px;
  margin-top:100px;
}

h1 {
 padding-top:50px;
 padding-left:10px;
 font-family: "Verdana";
 font-size:40px;
 color: #DDD6F3;

}
grid-containter{
padding-top:-10px;
}

h2 {
 text-align:center; 
 font-size: 100px;
 color: #ffffff;
 padding-top:50px;
 font-family:"Verdana";
}

p {
  text-align:center;
  color: #DDD6F3;
  font-size:20px;
  font-family: "Verdana";
}


.pledge{
  color:white;
  margin-bottom:500px;
  margin-top:100px;
  background-color: #DDD6F3;

}
.pledge:hover{
  color: rgb(139, 138, 138);
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  padding-left:0px;
  margin: auto;
  margin-top:50px;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #DDD6F3;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #DDD6F3;
  padding-left:0px;

  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

img {
position:center;
}
.txt{
  margin:auto;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 100px;
  resize: none;
}
.file-select{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width:100px;
  font-size: larger;
  border-radius: 5px;
  color: #ffffff;
  background-color: #DDD6F3;
}
.file-select:hover{
  cursor: pointer;
  color:rgb(22, 22, 22)
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Text box*/

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  left: 50%;
  border-radius: 25px;
}
#firstsun{
  grid-column-start: 1;
}

#firstmon{
  grid-column-start: 2;
}

#firsttues{
  grid-column-start: 3;
}

#firstwed{	
  grid-column-start: 4;
}

#firstthurs{
  grid-column-start: 5;
}

#firstfri{
  grid-column-start: 6;
}

#firstsat{
  grid-column-start: 7;
}

.week {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
  grid-gap: 2px 10px;
}
.week-day, .day-label, .event {
  padding: 4px 10px;
  font-size: 20px;
 color: #ffffff;
 font-family:"Verdana";
}
.grid-item {
  font-size: 30px;
  height: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  margin-top:-10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.entry{
  text-align: center;
}

.modal-header{
color: #b79dd0;
 font-size:20px;
 text-align: center;
 font-family: "Verdana";

}

/*Days

.monday {
color: #0000000;
position: absolute;
top:500px;
}

